@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined');
@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,700;1,700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background: 
        linear-gradient(135deg, rgba(10, 15, 30, 0.5), rgba(30, 20, 50, 0.5)), 
        url("../images/bg.png"), 
        #020205;

    /* This is the most important part for the 'endless' feel */
    background-attachment: fixed; 
    
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
    /* Adding a dark base color prevents a white flash while the image loads */
    background-color: #05050a;

    margin: 0;
    padding: 40px;
    color: white;

    image-rendering: auto;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#logo {
    width: 400px;
    height: auto;
}

#greeting {
    color: #f0f0f1;
    font-family: "Montserrat";
    font-size: 55px;
    font-weight: 700;
    letter-spacing: 0.2rem;
    text-align: center;
}

.container .material-symbols-outlined {
    color: #c9ced9;
    font-size: 50px;
}

.drop-area {
    width: 300px;
    padding: 30px;
    background-color: #0d1221;
    border: 2px dashed #888;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    transition: 0.2s;

    color: #f0f0f1;
    font-family: "Arimo";
    font-size: 15px;
    font-weight: 700;
}

.mobile-text {
  display: none;
}

.drop-area.dragover {
    background: #f0f0f0;
    border-color: #333;
}

.drop-area * {
    pointer-events: none;
}

.progress-bg {
    background: rgba(0, 0, 0, 0.2);
    height: 8px;
    border-radius: 10px;
    overflow: hidden;
}

#progressBar {
    background: #00ffcc;
    width: 0%;
    height: 100%;
    transition: width 0.3s ease;
}

#statusText {
    color: #00ffcc;
    font-size: 0.8rem;
    margin-top: 5px;
}

/* Mobile view */
@media (max-width: 768px) {
  .desktop-text {
    display: none;
  }

  .mobile-text {
    display: inline;
  }
}