<!DOCTYPE html>
<html>

<head>
    <title>Admin: Technofirst Workflow Inc.</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles_admin.css') }}?v=1">
    <link rel="icon" href="{{ url_for('static', filename='images/Technofirst (printer logo).png') }}?v=1"
        type="image/png">
</head>

<body>

    <!-- LOGOUT BUTTON -->
    <div style="position: absolute; top: 20px; right: 30px;">
        <a href="/logout"
           style="
                background:#d32f2f;
                color:white;
                padding:10px 16px;
                border-radius:8px;
                text-decoration:none;
                font-weight:bold;
                font-family:Arial;
           ">
            Logout
        </a>
    </div>

    <div class="container">
        <img src="{{ url_for('static', filename='images/logo.png') }}" id="logo">
    </div>

    <h1 id="title">ADMIN DASHBOARD</h1>

    <div class="queue-table">
        <div class="table-wrapper">

            <table>

                <thead>
                    <tr>
                        <th>ID</th>
                        <th>FILE NAME</th>
                        <th>PAPER</th>
                        <th>SIZE</th>
                        <th>COLOR</th>
                        <th>THESIS?</th>
                        <th>BIND?</th>
                        <th>OTHER</th>
                        <th>HURRY/DEADLINE</th>
                        <th>TYPES</th>
                        <th>PRICE</th>
                        <th>ACTION</th>
                    </tr>
                </thead>

                <tbody id="queueTableBody">
                    <!-- JS RENDERS HERE -->
                </tbody>

            </table>

        </div>
    </div>
    <script src="{{ url_for('static', filename='scripts/scripts_admin.js') }}?v=1"></script>
</body>

</html>