<!DOCTYPE html>
<html>

<head>
    <title>Upload your file: Technofirst Workflow Inc.</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles_index.css') }}?v=1">
    <link rel="icon" href="{{ url_for('static', filename='images/Technofirst (printer logo).png') }}?v=1"
        type="image/png" style="width: 32px; height: 32px;">
</head>

<body>
    <div class="container">
        <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Technofirst Workflow Inc." id="logo">
    </div>
    <h1 id="greeting">
        WELCOME
    </h1>

    <div class="container">
        <div id="dropArea" class="drop-area">
            <span class="material-symbols-outlined">attachment</span><br>
            <p class="desktop-text">Drag & Drop files here or click to attach</p>
            <p class="mobile-text">Click here to attach</p>
            <p style="margin-top: 8px;
                font-size: 0.9rem;
                color: rgba(255,255,255,0.7);">
                Supported files: PNG, JPG, JPEG, PDF, DOCX • Max: 100MB
            </p>
        </div>

        <input type="file" id="fileInput" hidden accept=".jpg, .jpeg, .png, .pdf, .docx, .doc>
        <p id=" fileName"></p>

        <div id="uploadStatus" style="display:none; width: 100%; margin-top: 20px;">
            <div class="progress-bg">
                <div id="progressBar"></div>
            </div>
            <p id="statusText">Uploading: 0%</p>
        </div>
        <script src="{{ url_for('static', filename='scripts/scripts_index.js') }}?v=1"></script>
</body>

</html>